<?xml version="1.0" encoding="utf-8"?> 

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL"
        tools:ignore="ReservedSystemPermission" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name="com.test.norman.launcher.blankLaunch"
        android:allowBackup="true"
        android:icon="@mipmap/blank_launch"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/blank_light"
        tools:ignore="UnusedAttribute">


        <activity
            android:name="com.test.norman.launcher.activities.HomeScreenActivity"
            android:enabled="true"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.norman.launcher.activities.DialerActivity"

            android:enabled="true"
            android:label="@string/dialer"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.norman.launcher.activities.alarms.AlarmsActivity"

            android:enabled="true"
            android:label="@string/alarms" />
        <activity
            android:name="com.test.norman.launcher.activities.alarms.AlarmScreenActivity"

            android:enabled="true"
            android:label="@string/alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.alarms.AddAlarmActivity"

            android:enabled="true"
            android:label="@string/add_alarm"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.contacts.ContactsActivity"

            android:enabled="true"
            android:label="@string/contacts"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.test.norman.launcher.activities.contacts.SingleContactActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.media.SingleVideoActivity"

            android:enabled="true"
            android:label="@string/video" />
        <activity
            android:name="com.test.norman.launcher.activities.TutorialActivity"

            android:enabled="true"
            android:label="@string/video_tutorials"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.SOSActivity"

            android:enabled="true"
            android:label="@string/sos" />

        <activity
            android:name="com.test.norman.launcher.activities.SettingsActivity"

            android:enabled="true"
            android:label="@string/settings" />
        <activity
            android:name="com.test.norman.launcher.activities.NotificationsActivity"

            android:enabled="true"
            android:label="@string/notifications" />
        <activity
            android:name="com.test.norman.launcher.activities.FakeLauncherActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.test.norman.launcher.activities.PermissionActivity" />
        <activity
            android:name="com.test.norman.launcher.activities.RecentActivity"
            android:enabled="${recentCalls}"
            android:label="@string/recent"></activity>
        <activity
            android:name="com.test.norman.launcher.activities.media.PhotosActivity"

            android:enabled="true"
            android:label="@string/photos" />
        <activity
            android:name="com.test.norman.launcher.activities.media.VideosActivity"

            android:enabled="true"
            android:label="@string/videos"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <data android:mimeType="video/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.norman.launcher.activities.media.SinglePhotoActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.contacts.AddContactActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.alarms.AddTimerActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.AppsActivity"

            android:enabled="true"
            android:label="@string/apps" />
        <activity
            android:name="com.test.norman.launcher.activities.pills.PillsActivity"

            android:enabled="true"
            android:label="@string/pills" />
        <activity
            android:name="com.test.norman.launcher.activities.pills.AddPillActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.pills.PillScreenActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.FontChangerActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.AccessibilityLevelChangerActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.contacts.ShareActivity"

            android:enabled="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.test.norman.launcher.activities.CreditsActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.YoutubeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.VideoTutorialsActivity"

            android:enabled="true"
            android:label="@string/video_tutorials" />
        <activity
            android:name="com.test.norman.launcher.activities.CrashActivity"
            android:label="@string/crash" />
        <activity
            android:name="com.test.norman.launcher.activities.KeyboardChangerActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.pills.PillTimeSetterActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.PhoneActivity"

            android:enabled="true"
            android:label="@string/phone"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.norman.launcher.activities.TechnicalInfoActivity"

            android:enabled="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.test.norman.launcher.activities.FeedbackActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.UpdatesActivity"
            android:enabled="true" />
        <activity
            android:name="com.test.norman.launcher.activities.Page1EditorActivity"

            android:enabled="true"
            android:label="@string/edit_home_screen" />


        <service
            android:name="com.test.norman.launcher.keyboard.blankInputMethodService"
            android:enabled="true"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>
        <service
            android:name="com.test.norman.launcher.services.NotificationListenerService"
            android:enabled="true"
            android:label="blank Notification Service"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>


        <receiver
            android:name="com.test.norman.launcher.broadcast_receivers.BootUpBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.test.norman.launcher.broadcast_receivers.LocalChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.test.norman.launcher.broadcast_receivers.AlarmReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name="com.test.norman.launcher.broadcast_receivers.ReminderReceiver"
            android:enabled="true"
            android:process=":remote" />
        <receiver
            android:name="com.test.norman.launcher.broadcast_receivers.DownloadManagerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>